    <!DOCTYPE html>
    <html>
    <head>
        <title>Giáo viên - Xem câu hỏi</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
         <style>
            .btn1 {
                padding: 10px;
            }
                        
            .dropdown-list {
                overflow-y: auto !important;
                max-height: 200px;
            }    
            div {
                box-sizing: border-box;
            }

            body {
                background-color: rgb(12, 158, 99);
            }


            .previous {
                background-color: #f1f1f1;
                color: black;
            }

            .next {
                background-color: #4CAF50;
                color: white;
            }

            * {
                font-family: "Roboto Slab", serif;
            }
        </style>
    </head>
    <body class="bg-dark">
       <nav class="navbar navbar-expand-lg navbar-light bg-header" style="background-color: #5824a0">
      <a class="navbar-brand" href="#">Gíao viên</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Log out <span class="sr-only">(current)</span></a>
          </li>
         
        
        </ul>
       
      </div>
    </nav>

    <div style="width: 1000px;" class="container-fluid bg-light" align="center">
        <table>
            <tr>
                <td>
                    <div style="background-color:lightblue; width: 400px">
                        <div class="card card-header bg-info" align="center" style="color: white; font-size: 30px">
                              Thêm câu hỏi
                          </div>

                        <div class="form-group card card-inverse">
                          <label for="cau_hoi">Câu hỏi:</label>
                          <input type="text" class="form-control" id="cau_hoi">
                        </div>
                        <div class="form-group card card-inverse">
                          <label for="phuong_an_a">A:</label>
                          <input type="text" class="form-control" id="phuong_an_a">
                        </div>
                        <div class="form-group card card-inverse">
                          <label for="phuong_an_b">B:</label>
                          <input type="text" class="form-control" id="phuong_an_b">
                        </div>
                        <div class="form-group card card-inverse">
                          <label for="phuong_an_c">C:</label>
                          <input type="text" class="form-control" id="phuong_an_c">
                        </div>
                        <div class="form-group card card-inverse">
                          <label for="phuong_an_d">D:</label>
                          <input type="text" class="form-control" id="phuong_an_d">
                        </div>
                        
                        <div align="center">
                            <span>Đáp án<span>
                            <select id="dap_an">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </div>

                        <div align="center" class="bg-info">
                            <br>
                            <button class="btn btn-primary" id="btnAddQuestion" onClick="onAddQuestion()">Thêm </button>
                            <br>
                            <br>
                        </div>
                    </div>
                </td>
                 <td style="vertical-align: top">
                <div class="dropdown-list" style="background-color: lightblue; width: 400px; max-width: 1000px" align="center">
                <label class="bg-info card card-header" style="color: white; width: 100%; font-size: 30px">Xem câu hỏi</label>
                <input list="bo-cau-hoi-xem" class="form-inline form-control" placeholder="Chọn câu hỏi" id="cau_hoi_can_xem">
                <br>
                <datalist id="bo-cau-hoi-xem" >
                  <option value="Câu 1">
                  <option value="Câu 2">
                  <option value="Câu 3">
                  <option value="Câu 4">
                  <option value="Câu 5">
                  <option value="Câu 6">
                  <option value="Câu 7">
                  <option value="Câu 8">
                  <option value="Câu 9">
                  <option value="Câu 10">
                  <option value="Câu 11">
                  <option value="Câu 12">
                  <option value="Câu 13">
                  <option value="Câu 14">
                  <option value="Câu 15">
                  <option value="Câu 16">
                  <option value="Câu 17">
                  <option value="Câu 18">
                  <option value="Câu 19">
                  <option value="Câu 20">
                </datalist>
                <div align="right">
                  <button class="btn btn-primary" onClick="onViewQuestion()">Xem</button>
                </div>
                </div>
                <div style="background-color: #d5dbe5">
                    <h5 id="cau_hoi_xem">Câu 1: Đèn vàng có màu gì?</h5>
                     <div>
                        <div class="clearfix">
                            <input id="input_phuong_an_0" type="radio" name="qs7" id="qs70" disabled="true">
                            <label for="qs70" id="phuong_an_0_xem">Xanh</label>
                        </div>
                        <div class="clearfix">
                            <input id="input_phuong_an_1" type="radio" name="qs7" id="qs71" disabled="true">
                            <label for="qs71" id="phuong_an_1_xem">Đỏ</label>
                        </div>
                        <div class="clearfix">
                            <input id="input_phuong_an_2" type="radio" name="qs7" id="qs72" disabled="true">
                            <label for="qs72" id="phuong_an_2_xem">Tím</label>
                        </div>
                        <div class="clearfix">
                            <input id="input_phuong_an_3" type="radio" name="qs7" id="qs73" disabled="true" checked="true">
                            <label for="qs70" id="phuong_an_3_xem">Vàng</label>
                        </div>
                    </div>
                    <div align="center" class="card card-info">
                        <div class="bg-info">
                          <br>
                          <button class="btn previous">&laquo; Trước</button>
                          <button class="btn next">Sau &raquo; </button>
                          <br>
                          <br>
                        </div>
                    </div>
                </div>
            </td>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        const BUS_API = "http://localhost:3001";

        var requestApi = (uri, method, att, data) => {
            return new Promise((resole, reject) => {
                if(method.toLowerCase() == 'get' && data) {
                    uri += "?";
                    let first = true;
                    for(let i = 0; i < data.length; ++i) {
                        if(first) {
                            uri += att[i] + "=" + data[i];
                            first = false;
                        } else {
                            uri += "&" + att[i] + "=" + data[i];
                        }
                    }
                    data = null;
                } else if (method.toLowerCase() == 'post' && data) {
                    let tmp = ''
                    for(let i = 0; i < att.length; ++i) {
                        if (i > 0) tmp += '&'
                        tmp += att[i] + '=' + data[i]
                    }
                    tmp.replace(' ', '%20')                    
                    console.log(tmp)
                    data = tmp
                }
                $.ajax({
                    method: method,
                    url: BUS_API + uri,
                    data: data
                }).done((result) => {
                    resole(result);
                })
            })
        }

        function onAddQuestion() {
            let atts = ['cauHoi', 'dsDapAn', 'dapAn', 'maNguoiDang']
            let cauHoi = document.getElementById('cau_hoi').value
            let dapAn = String.fromCharCode(document.getElementById('dap_an').value.charCodeAt() - 65 + 48)
            let dsDapAn = document.getElementById('phuong_an_a').value
            dsDapAn += ';' + document.getElementById('phuong_an_b').value
            dsDapAn += ';' + document.getElementById('phuong_an_c').value
            dsDapAn += ';' + document.getElementById('phuong_an_d').value
            // TODO: change this after authentication
            let maNguoiDang = '2018'
            let vals = [cauHoi, dsDapAn, dapAn, maNguoiDang]
            console.log(vals)
            requestApi('/them-cau-hoi', 'POST', atts, vals);
        }

        function onViewQuestion() {
            let maCauHoi = document.getElementById('cau_hoi_can_xem').value
            if (maCauHoi[0] == 'C') maCauHoi = maCauHoi.split(' ')[1]
            requestApi('/lay-cau-hoi', 'GET', ['maCauHoi'], [maCauHoi]).then(data => {
                console.log(data)
                let cauHoi = data.getElementsByTagName('DE')[0].innerHTML
                let dsDapAn = data.getElementsByTagName('DAP_AN')
                document.getElementById('cau_hoi_xem').innerHTML = cauHoi
                for (let i = 0; i < 4; ++i) {
                    document.getElementById('phuong_an_' + i + '_xem').innerHTML = dsDapAn[i].innerHTML
                }
                let dapAn = data.getElementsByTagName('CAU_HOI')[0].getAttribute('Dap_an')
                console.log('input_phuong_an_' + dapAn)
                document.getElementById('input_phuong_an_' + dapAn).setAttribute('checked', 'true')
            })
        }
    </script>
    </body>
    </html>