<!doctype html>
<html lang="en">

<head>
    <title>Tự rèn luyện theo từng bộ đề</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .btn1 {
            padding: 10px;
        }

        body {
            background-color: rgb(189, 241, 245);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12" style="text-align: center">
                <h1>Chọn đề</h1>
                <div id="danh-sach-bo-de" class="row">
                    <!-- <button class="btn1 btn-secondary col-1">Đề số 1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button>
                    <button class="btn1 btn-secondary col-1">1</button> -->
                </div>
            </div>
        </div>
        <!-- <div class="row mt-5">
            <div class="col-3">
                <div class="" style="margin-top:2vh">
                    <h5>Danh sách các câu hỏi</h5>
                    <div id='danh-sach-cau-hoi' class='row'>
                        <button type="button" class="btn1 btn-secondary col-3">1</button>
                        <button type="button" class="btn1 btn-secondary col-3">2</button>
                        <button type="button" class="btn1 btn-secondary col-3">3</button>
                        <button type="button" class="btn1 btn-secondary col-3">4</button>
                        <button type="button" class="btn1 btn-secondary col-3">5</button>
                        <button type="button" class="btn1 btn-secondary col-3">6</button>
                        <button type="button" class="btn1 btn-secondary col-3 border active">7</button>
                        <button type="button" class="btn1 btn-secondary col-3">8</button>
                        <button type="button" class="btn1 btn-secondary col-3">9</button>
                        <button type="button" class="btn1 btn-secondary col-3">10</button>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-1">
                <div id="noi-dung-cau-hoi" class="d-flex justify-content-center row" style="margin-top: 2vh">
                    <div class="d-flex justify-content-start row col-12 ml-5">
                        <h5>Câu 1:</h5>
                        <div class="w-100"></div>
                        <p>Đèn đỏ dừng bao nhiêu giây?</p>
                        <div class="w-100"></div>
                        <div>
                            <div class="clearfix">
                                <input type="radio" name="qs7" id="qs70">
                                <label for="qs70">30s</label>
                            </div>
                            <div class="clearfix">
                                <input type="radio" name="qs7" id="qs71">
                                <label for="qs71">40s</label>
                            </div>
                            <div class="clearfix">
                                <input type="radio" name="qs7" id="qs72">
                                <label for="qs72">50s</label>
                            </div>
                            <div class="clearfix">
                                <input type="radio" name="qs7" id="qs73">
                                <label for="qs70">60s</label>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 -flex justify-content-center mb-5">
                        <button class='btn btn-success'>Nộp bài</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-3 mt-5">
                <h5>Danh sách các câu hỏi</h5>
                <div id='danh-sach-cau-hoi' class='row'>
                    <!-- <button type="button" class="btn1 btn-secondary col-3">1</button>
                    <button type="button" class="btn1 btn-secondary col-3">2</button>
                    <button type="button" class="btn1 btn-secondary col-3">3</button>
                    <button type="button" class="btn1 btn-secondary col-3">4</button>
                    <button type="button" class="btn1 btn-secondary col-3">5</button>
                    <button type="button" class="btn1 btn-secondary col-3">6</button>
                    <button type="button" class="btn1 btn-secondary col-3 border active">7</button>
                    <button type="button" class="btn1 btn-secondary col-3">8</button>
                    <button type="button" class="btn1 btn-secondary col-3">9</button>
                    <button type="button" class="btn1 btn-secondary col-3">10</button> -->
                </div>
            </div>
            <div class="col-9">
                <div id="noi-dung-cau-hoi" style="margin-top: 5vh; text-align: center">
                    <!-- <div class="row">
                        <div class="col-9">
                            <h3>Câu hỏi: ${de}</h3>
                            <div>
                                <div class="mt-3">
                                    <button id="dap-an-${maDapAn}" class="btn btn-block btn-secondary" onclick="chonDapAn('${maDapAn}')">${dapAn}</button>
                                </div>
                                <div class="mt-3">
                                    <button id="dap-an-${maDapAn}" class="btn btn-block btn-secondary" onclick="chonDapAn('${maDapAn}')">${dapAn}</button>
                                </div>
                                <div class="mt-3">
                                    <button id="dap-an-${maDapAn}" class="btn btn-block btn-secondary" onclick="chonDapAn('${maDapAn}')">${dapAn}</button>
                                </div>
                                <div class="mt-3">
                                    <button id="dap-an-${maDapAn}" class="btn btn-block btn-secondary" onclick="chonDapAn('${maDapAn}')">${dapAn}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-9 mt-5 text-center">
                            <div class="row ml-1 mr-1">
                                <button class='btn-primary col-5 btn' onclick="xemDapAn()">Câu trước</button>
                                <button class='btn-success col-5 btn offset-2' onclick="xemCauHoiKeTiep()">Câu tiếp</button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-3 offset-3 mt-5">
                        <button id="nop-bai" class="btn btn-block btn-info">Nộp bài</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
    <script>
        //Biến dùng chung
        var dsBoDe = null;
        var dsCauHoi = null;
        var maBoDeDangChon = null;
        var indexCauHoiDangChon = null;
        var daNopBai = false;

        //Biến cố khởi động
        $(document).ready(() => {
            requestApi(
                "/lay-danh-sach-bo-de",
                "get"
            ).then(res => {
                if (res == "") {
                    //chuyen huong ve dang nhap
                }
                dsBoDe = res.getElementsByTagName(Tag.DE);
                let stt = 1;
                let boDeDauTien = null;
                for (let i = 0; i < dsBoDe.length; i++) {
                    let maDe = dsBoDe[i].getAttribute(Attri.Ma_de);
                    if (stt == 1) {
                        boDeDauTien = maDe;
                    }
                    $("#danh-sach-bo-de").append(
                        `<button id="de-${maDe}" class="btn1 btn-secondary col" onclick="loadBoDe('${maDe}')">Đề số ${stt++}</button>`
                    )
                }
                loadBoDe(boDeDauTien);
            })
        });
        //Biến cố load bộ đề
        const loadBoDe = (maBoDe) => {
            $("#nop-bai")[0].onclick = nopBai;
            $("#nop-bai").text("Nộp bài")
            //reset bien
            dsCauHoi = null;
            indexCauHoiDangChon = null;
            daNopBai = false;
            if (maBoDeDangChon) {
                $("#de-" + maBoDeDangChon)[0].className = "btn1 btn-secondary col"
            }
            $("#de-" + maBoDe)[0].className = "btn1 btn-info col border active"
            maBoDeDangChon = maBoDe
            requestApi(
                "/lay-bo-de",
                "get", {
                    maDe: maBoDe
                }
            ).then(res => {
                if (res == "") {
                    //chuyen huong ve dang nhap
                }
                dsCauHoi = res.getElementsByTagName(Tag.CAU);
                let dsCauHoiTemp = [];
                let stt = 1;
                $("#danh-sach-cau-hoi")[0].innerHTML = "";
                for (let i = 0; i < dsCauHoi.length; i++) {
                    let maCauHoi = dsCauHoi[i].getAttribute(Attri.Ma_cau_hoi);
                    $("#danh-sach-cau-hoi").append(
                        `<button type="button" id="cau-hoi${stt - 1}" onClick="chonCauHoi('${stt - 1}')" class="btn1 btn-secondary col-3">${stt++}</button>`
                    )
                    requestApi(
                        "/lay-cau-hoi",
                        "get", {
                            maCauHoi: maCauHoi
                        }
                    ).then(cauHoi => {
                        let cauHoiText = cauHoi.getElementsByTagName(Tag.DE)[0].textContent;
                        let dapAn = parseInt(cauHoi.getElementsByTagName(Tag.CAU_HOI)[0].getAttribute(
                            Attri.Dap_an));
                        let dsDapAnTemp = cauHoi.getElementsByTagName(Tag.DAP_AN);
                        let dsDapAn = [];
                        for (let j = 0; j < dsDapAnTemp.length; j++) {
                            dsDapAn[j] = parseInt(dsDapAnTemp[j].textContent);
                        }

                        dsCauHoiTemp[i] = {
                            cauHoi: cauHoiText,
                            dsDapAn: dsDapAn,
                            dapAn: dapAn,
                            dapAnChon: -1
                        };
                        if (i == dsCauHoi.length - 1) {
                            dsCauHoi = [];
                            dsCauHoi = dsCauHoiTemp;
                            chonCauHoi(0);
                        }
                    })
                }
            })
        }

        //Biến cố chọn câu hỏi
        const chonCauHoi = (index) => {
            if (indexCauHoiDangChon || indexCauHoiDangChon == 0)
                $("#cau-hoi" + indexCauHoiDangChon)[0].className = "btn1 btn-secondary col-3";
            $("#cau-hoi" + index)[0].className = "btn1 btn-info col-3 border active";
            indexCauHoiDangChon = parseInt(index);

            let htmlTemp = "";
            htmlTemp =
                `
                    <div class="row">
                        <div class="col-9">
                        <h3>Câu hỏi ${ parseInt(index) + 1}: ${dsCauHoi[index].cauHoi}</h3>
                        <div>
                    `
            for (let j = 0; j < dsCauHoi[index].dsDapAn.length; j++) {
                htmlTemp +=
                    `
                            <div class="mt-3">
                                <button id="dap-an-${j}" class="btn btn-block btn-secondary" onclick="chonDapAn('${j}')">${dsCauHoi[index].dsDapAn[j]}</button>
                            </div>
                        `
            }
            htmlTemp +=
                `
                        </div>
                        </div>
                        <div class="col-9 mt-5 text-center">
                            <div class="row ml-1 mr-1">
                                <button class='btn-primary col-5 btn' onclick="cauTruoc(${index})">Câu trước</button>
                                <button class='btn-success col-5 btn offset-2' onclick="cauTiep(${index})">Câu tiếp</button>
                            </div>
                        </div>
                    </div>
                    `
            $("#noi-dung-cau-hoi")[0].innerHTML = htmlTemp;
            if (daNopBai) {
                debugger;
                //chua chon dap an
                if (dsCauHoi[index].dapAnChon == -1) {
                    $("#dap-an-" + dsCauHoi[index].dapAn)[0].className = "btn btn-block btn-warning"
                } 
                //da chon dap an
                else {
                    //chon dung
                    if (dsCauHoi[index].dapAnChon != dsCauHoi[index].dapAn) {
                        $("#dap-an-" + dsCauHoi[index].dapAnChon)[0].className = "btn btn-block btn-danger"
                        $("#dap-an-" + dsCauHoi[index].dapAn)[0].className = "btn btn-block btn-success"
                    } 
                    //chon sai
                    else {
                        $("#dap-an-" + dsCauHoi[index].dapAnChon)[0].className = "btn btn-block btn-success"                        
                    }
                }
            } else {
                if (dsCauHoi[index].dapAnChon != -1) {
                    $("#dap-an-" + dsCauHoi[index].dapAnChon)[0].className = "btn btn-block btn-warning"
                }
            }
        }

        //Biến cố chọn đáp án
        const chonDapAn = (index) => {
            if (!daNopBai) {
                if (dsCauHoi[indexCauHoiDangChon].dapAnChon != -1)
                    $("#dap-an-" + dsCauHoi[indexCauHoiDangChon].dapAnChon)[0].className =
                    "btn btn-block btn-secondary"
                dsCauHoi[indexCauHoiDangChon].dapAnChon = parseInt(index);
                $("#dap-an-" + index)[0].className = "btn btn-block btn-warning"
            }
        }

        const cauTruoc = (cur) => {
            if (cur == 0)
                return;
            else {
                chonCauHoi(cur - 1);
            }
        }
        const cauTiep = (cur) => {
            if (cur == dsCauHoi.length - 1) {
                return;
            } else {
                chonCauHoi(cur + 1);
            }
        }

        //Biến cố nộp bài
        const nopBai = () => {
            daNopBai = true;
            chonCauHoi(indexCauHoiDangChon);
            $("#nop-bai").text("Làm lại")
            $("#nop-bai")[0].onclick = ()=> {
                daNopBai = false;
                debugger;
                loadBoDe(maBoDeDangChon);
            }

            //tính điểm
            let soDapAnChon = 0;
            let soDapAnDung = 0;
            for(let i = 0;i < dsCauHoi.length; i++) {
                if(dsCauHoi[i].dapAnChon != -1) {
                    soDapAnChon ++;
                    if(dsCauHoi[i].dapAnChon == dsCauHoi[i].dapAn) {
                        soDapAnDung ++;
                    }
                }
            }
            
        }
    </script>
</body>

</html>